* {
  padding: 0;
  margin: 0;  
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(16, 11, 27);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.full__container {
    width: 100vw;
    height: 100vh;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.main__contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.img__contain {
    position: relative;
    height: 30em;
    width: 5em;
    border-radius: 2.5em;
    overflow: hidden;
    transition: 1s;
}

.img__expand {
    height: 30em;
    width: 40em;
    position: relative;
    border-radius: 2.5em;
    transition: 1s;
    overflow: hidden;
}

.img {
    height: 30em;
    width: 50em;
}

.hide__text {
    position: absolute;
    bottom: 2em;
    left: 2em;
    color: white;
    opacity: 0;
    transition: 1s;
}

.show__text {
    opacity: 100%;
    transition: 1s;
    position: absolute;
    bottom: 2em;
    left: 2em;
    color: white;
}

